
.carousel-title{
    font-size: 45px;
    font-weight: bold;
}
@media (max-width: 995px) {
    .carousel-title{
        font-size: 15px;
        font-weight: bold;
    }
}

.carousel-m-item{
    height: 32rem;
    background-color: white;
    display: flex !important;
    align-items: center;
    gap: 25px;
}

@media (max-width: 995px) {
    .carousel-m-item{
        gap: 0;
    }
}

.img{
    width: 265px;
    height: 390px;
}
@media (max-width: 995px) {
    .img{
        width: 155px;
        height: 270px;
    }
}

.item{
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
}

@media (max-width: 995px) {
    .item{
        gap: 0;
    }

    .description-txt{
        font-size: 10px;
    }
}

