.footer-desc{
    font-size: 14px;
    color: gray;
}

.footer{
    background-color: var(--background-color);
}

.footer-title{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.footer-list-item > a,
.footer-list-item > span{
    text-decoration: none;
    color: gray;
}

.footer-list-item{
    margin-top: 5px;
    gap: 35px;
}